.cx-cart-quick-order-form {
  border: 1px solid black !important;
  padding: 10px !important;
  margin: 20px !important;

  .cx-cart-quick-order-form-title {
      text-decoration: underline;
      margin-bottom: 20px !important;
  }
}
