<h1>Contact Us</h1>
<div   class="mobile"style="color: #041e3c;">
<p>If you have any questions or would like to find out more about our products, please contact us using one of the methods below.</p>
  <div>
  <h3>Hours:<span>Monday - Friday, 8:30 AM - 8 PM (EST)</span></h3>
  </div>
<ul>
  <li><h3>General Support: <span>(877) 435-3287</span></h3></li>
  <li><h3>Electrolux.com Online Orders:<span>(833) 840-5925</span></h3></li>
  <li><h3>Small Kitchen Appliances, Vacuums & Air Cleaners:<span>(800) 896-9756</span></h3></li>
</ul>
</div>
