app-quick-order{
    ul li, p {
        font-size: 18px;
        margin-bottom: 1.5rem;
        text-align: left;
        color: #041e3c;
        span {
            font-weight: bold;
        }
    }

}
