<h1>Contact Us</h1>
<div class="body">
    <p>
        If you have any questions or would like to find out more about our products, please contact us using one of the methods below.
    </p>
    
    <p><b>Hours:</b> Monday - Friday, 8:30 AM - 8PM (EST)</p>
    
    <ul>
        <li><b>General Support:</b> (877) 435-3287</li>
        <li><b>Electrolux.com Online Orders:</b> (833) 840-5925</li>
        <li><b>Small Kitchen Appliances, Vaccums & Air Cleaners:</b> (800) 896-9756</li>
    </ul>
</div>
