<div class="container">
  <h3>
    You may also like...
  </h3>

  <div class="row">

     <div *ngFor="let item of productData">
      <div class="col-12 productDesc">
        <div class="productImg">
            <img [src]="baseURl+item.target?.images[2].url" alt="PL60 Camera">
        </div>
        <div class="productName">
          <span>{{ item.target.name }}</span>
        </div>
        <div class="productPrice">
          <span>{{ item.target.price.formattedValue }}</span>
        </div>
      </div>
     </div> 

     <!-- <div *ngIf="items$ async as item">
      <div class="col-12 productDesc">
        <div class="productImg">
            <img [src]="baseURl+item.target?.images[2].url" alt="PL60 Camera">
        </div>
        <div class="productName">
          <span>{{ item.target.name }}</span>
        </div>
        <div class="productPrice">
          <span>{{ item.target.price.formattedValue }}</span>
        </div>
      </div>
     </div>  -->

  </div>
</div> 

