<div class="container">
  <h3>
    You may also like...
  </h3>

  <div class="row">

    <ng-container>
      <div class="col-4 productDesc">
        <div class="productSummary">
          <img [src]="prodFirst.images.PRIMARY.thumbnail.url" alt="PL60 Black">
        </div>
        <div class="productName">
          <span>{{ prodFirst?.name }}</span>
        </div>
        <div class="productPrice">
          <span>{{ prodFirst?.price?.formattedValue }}</span>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div class="col-4 productDesc">
        <div class="productSummary">
          <img src="{{ prodSecond.images.PRIMARY.thumbnail.url }}" alt="PL60 Grey">
        </div>
        <div class="productName">
          <span>{{ prodSecond.name }}</span>
        </div>
        <div class="productPrice">
          <span>{{ prodSecond.price.formattedValue }}</span>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div class="col-4 productDesc">
        <div class="productSummary">
          <img src="{{ prodThird.images.PRIMARY.thumbnail.url }}" alt="PL60 Silver">
        </div>
        <div class="productName">
          <span>{{ prodThird.name }}</span>
        </div>
        <div class="productPrice">
          <span>{{ prodThird.price.formattedValue }}</span>
        </div>
      </div>
    </ng-container>

  </div>
</div>