.apply-coupon-container{
    border: 1rem;
    padding-inline-end: 0;
    padding-inline-start: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // border: 0.5px solid #bfbfbf;
}

.apply-coupon-title{
    font-size:1rem;
    font-weight: 600;
    text-decoration: underline;
}