.summary-border {
  border: 0.5px solid #bfbfbf;
  margin-left: 48px;
  margin-top: 48px;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.underlined {
  text-decoration: underline;
  margin-top: 10px;
}

label {
  margin: 0 !important;
}

.button {
  margin-top: 20px;
}
