<h1>Contact Us</h1>
<p>
  If you have any questions or would like to find out more about our products,
  please contact us using one of the <br />
  method below.
</p>

<div>
  <p>
    <strong>Hours: </strong> <span>Monday - friday, 8:30 AM-8:00 PM (EST)</span>
  </p>
  <div>
    <ul>
      <li><strong>General Support: </strong>(877) 435-3287</li>
      <li><strong>Electrolux.com Online Orders: </strong>(833) 840-5925</li>
      <li>
        <strong>Small Kitchen Appliances, vaccums & Air Cleaners: </strong>(800)
        896-9756
      </li>
    </ul>
  </div>
</div>

<!-- <ng-template cxOutletRef="BodyContent">
  <p>contact-us works!</p>
</ng-template> -->
